<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Login Page</legend>
        <form action='/result' method='POST'>
            <div>
                <label for="">Username :</label>
                <input type="text" name="user" required/>
            </div>
            <div>
                <label for="">Password :</label>
                <input type="password" name="pass" required/>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>

    </fieldset>
    
</body>
</html>